.container{
    width: 100%;
    height: 100vh;
    display: flex;

}
.left{
    width: 350px;
    height: 100vh;
    position: relative;
    min-width: 150px;
    flex-shrink: 0;
    overflow-y: auto;
}
.right{
    flex: 1;
    background-color: #DAE5F5;
}
.add {
    position: sticky;
    bottom: 20px; 
    left: 50vh; 
    padding: 10px 20px; 
    background-color: #007bff; 
    color: white; 
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    font-size: 1.5em;
    transition: background-color 0.3s;
    z-index: 10; 
  }
  @media only screen and (max-width: 768px) {
    .mobile{display: none;}
    .left, .right {
        width: 100%; 
        height: 100vh; 
    }
  }