.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 450px; 
  max-width: 90vw; 
}

.inner button {
  margin-top: 10px;
  background-color: #001F8B;
  color: #fff;
  border-radius: 9px;
  width: 90px;
  height: 30px;
  margin-left: auto; 
}

.clr {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.content {
  display: flex;
  font-size: 20px;
  font-weight: 500;
  flex-direction: row;
  gap: 40px;
  align-items: center;
}

.contents {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

input[type="text"] {
  border: 2px solid #CCCCCC;
  /* width: 250px; */
  flex: 1;
  border-radius: 22px;
  padding: 5px;
}

.error {
  color: red;
  justify-content: center;
  text-align: center;
  font-weight: 500;
}

.selected {
  border: 1px solid #000000;
}

@media only screen and (max-width: 780px) {
  .inner {
      width: 90%; 
      max-width: 90vw;
  }
  .content{
    font-size: 15px;
    line-height: 20px;
    text-align: left;
  }
  .inner button {
    width: 250px; 
    margin: 0;
    align-self: center;
  }
}
@media only screen and (max-width: 480px) {
  .content{
    font-size: 15px;
    line-height: 15px;
    /* gap: 10px; */
  }

}

