

.container {
  display: flex;
  flex-direction: column;
  height: 100vh; 
}

.header {
  color: white;
  text-align: center;
  
}

.content {
  flex: 1; 
  overflow: hidden; 
}


.notes {
  max-height: 100%; 
  overflow-y: auto; 
  padding: 16px;
  background-color: #DAE5F5;
}


.note {
  background-color: white;
  color: black; 
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 4px 20px 0px #00000040;
  margin-bottom: 16px; 
  font-family: Roboto;
}
.note p{
  margin-bottom: 15px;
}

.meta{
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  align-items: center;
  color: #353535;
  font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 17.58px;
}
.dot{
  margin: 5px;
  font-size: 13px;
}

.footer {
  background-color: #001F8B;
  color: white;
  padding: 12px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #444;
  box-sizing: border-box;
  height: 200px;
}


.footer textarea {
  width: 100%;
  height: 90%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  resize: none; 
  font-size: large;
  font-family: Roboto;
}
.footer .svg {
  position: absolute;
  right: 40px;
  bottom: 30px;
  cursor: pointer;
  color: #001F8B;
  font-size: 24px; 
}

.footer .svg1{
  color: grey;
}
.notes::-webkit-scrollbar {
  width: 10px;
}

.notes::-webkit-scrollbar-thumb {
  background-color: #FFFFFF; 
  border-radius: 10px; 
  border: 3px solid #333; 
}

.notes::-webkit-scrollbar-track {
  background: #000000A1;
  border-radius: 10px; 
}
textarea::placeholder{
  font-size: 22px;
  /* padding: 5px; */
}

@media only screen and (max-width: 780px) {
  .footer{
    height: 150px;
  }
  textarea::placeholder{
    font-size: 15px;
  }

}