
.button{
    height: auto;
    display: flex;
    align-items: center;
    font-size: 25px;
    padding: 10px 0px 10px 30px;
    gap: 20px;
    cursor: pointer;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 300px;
    text-align: left;
    /* background-color: aqua; */
    border-radius: 10px;
}
.active{
    background-color: #2F2F2F2B;
}
.initials{
    border-radius: 50%;
    padding: 15px;
    width: 60px;
    height: auto;
    text-align: center;
    color: #fff;
}
